{% extends 'account/base.html' %}
{% block content %}
{% load static %}



<div style="overflow-x:auto;">
    <h3>{{ view.title }}</h3>
    <table style="width:70%">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for user in users %}
    <tr>
        <th>{{user.id}}</th>
        <th>{{user.user.email}}</th>
        <th>{{user.user.username}}</th>
        <th>{{user.user.first_name}}</th>
        <th>{{user.user.last_name}}</th>
        <th>
            <a class="button button4" href="{% url 'account:users_update' user_pk=user.user.id %}" style="width: 100%;">EDIT</a>
        </th>

       <th>
            <form action="{% url 'account:admin_delete' %}" method="POST">
                {% csrf_token %}
                <button type="submit" value="{{user.user.id}}" name="pk" onclick="return confirm('Are you sure?')" >DELETE</button>
            </form>
        </th>
    </tr>
    {% endfor %}

</table>

    <div class="pagination">
        {% if users.has_previous %}
        <a href="?userspage={{ users.previous_page_number }}">&laquo;</a>
        {% endif %}
        <a class="active">{{ users.number }}</a>
        <a>  <-> {{ users.paginator.num_pages }}.</a>
        {% if users.has_next %}
        <a href="?userspage={{ users.next_page_n    umber }}">&raquo;</a>
        {% endif %}
    </div>

</div>
{% endblock %}
