{% extends 'account/base.html' %}
{% load static %}

{% block content %}

<div style="overflow-x:auto;">
    <h3>{{ view.title }}</h3>
    <table style="width:70%">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for a in articles %}
    <tr>
        <th>{{a.article_source}}</th>
        <th>{{a.published_at}}</th>
        <th>{{a.title}}</th>
        <th>{{a.desc}}</th>
        <th>{{a.urltoimage}}</th>
        <th>{{a.url}}</th>
    </tr>
    {% endfor %}

</table>
  <div class="pagination">
        {% if articles.has_previous %}
        <a href="?articlespage={{ articles.previous_page_number }}">&laquo;</a>
        {% endif %}
        <a class="active">{{ articles.number }}</a>
        <a>  <-> {{ articles.paginator.num_pages }}.</a>
        {% if articles.has_next %}
        <a href="?articlespage={{ articles.next_page_number }}">&raquo;</a>
        {% endif %}
  </div>
</div>
{% endblock %}
